# Ignore virtual environments
venv/
.venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# (Optional) Ignore logs and model if you don't want to commit them
logs.txt
*.pkl
